@model StefanShopWeb.ViewModels.AdminCategoryListViewModel

@{
    ViewData["Title"] = "Admin";
}
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Admin</h3>
                    <div class="section-nav">
                        <partial name="_AdminMenu" model="@Model.MenuItems" />
                    </div>
                </div>
            </div>
            <!-- /section title -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="section-nav">
                <ul class="section-tab-nav tab-nav">
                    <li><a asp-action="NewCategory"><strong>Create New Category</strong></a></li>

                </ul>
            </div>
            <div>
                @if (ViewBag.Msg != "")
                {
                    <div class="alert alert-success" id="msg" style="margin-top:20px;">
                        <p>@ViewBag.Msg</p>
                    </div>
                }
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Image</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cat in Model.Categories)
                    {
                        <tr>
                            <th scope="row">@cat.Id</th>
                            <td>@cat.Name</td>
                            <td><img src="@Url.Action("GetCategoryImage", "General", new { id = cat.Id })" alt="@cat.Name" /></td>
                            <td><a asp-action="EditCategory" asp-route-id="@cat.Id">Edit</a></td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script>
            $(document).ready(function () {
                setTimeout(function () {
                    $("#msg").fadeOut();
                }, 2500);
            });
        </script>
    }
    
}


