@model IEnumerable<StefanShopWeb.ViewModels.AdminNewsletterViewModel>

@{
    ViewData["Title"] = "NewsletterList";
}

<h2>News</h2>

<br />
<div class="section-nav">
    <ul class="section-tab-nav tab-nav">
        <li><a asp-action="CreateNews"><strong>Create New</strong></a></li>
    </ul>
</div>
<br />
<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <hr />
                <span class="badge badge-pill ">@item.Date</span>
                <span class="badge badge-light badge-pill ">Status: @item.Status</span><br />
                <p>
                    @{var longText = item.Text;
                        var text = longText.Length > 100 ? longText.Substring(0, 100) + "..." : longText;}
                    @text
                </p>
                <div class="section-nav">
                    <ul class="section-tab-nav tab-nav">
                        <li>
                            <a asp-action="EditNews" asp-route-id="@item.Id">Edit</a>
                        </li>
                        <li>
                            <a asp-action="DeleteNews" asp-route-id="@item.Id">Delete</a>
                        </li>
                        <li>
                            <a asp-action="Message" asp-route-id="@item.Id" class="btn btn-light @(item.Status=="Done" ? "disabled" : "")">Send</a>
                        </li>

                    </ul>
                </div>
            </li>
        }
    </ul>
</div>
<br />
<div class="section-nav">
    <ul class="section-tab-nav tab-nav">
        <li><a asp-action="Index" class="btn btn-outline-dark">Back to Start</a></li>
    </ul>
</div>

<div>@ViewBag.Exception</div>
