@model IEnumerable<StefanShopWeb.ViewModels.AdminNewsletterViewModel>

@{
    ViewData["Title"] = "NewsletterList";
}

<h2>News</h2>

<br />
<div class="section-nav">
    <ul class="section-tab-nav tab-nav">
        <li><h4><a asp-action="CreateNews"><strong>Create New</strong></a></h4></li>
    </ul>
</div>
<br />
<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <hr />
                <p>
                    Date: <span class="badge">@item.Date  </span>  
                    Status: <span class="badge">@item.Status</span>
                </p><br />
                <p>
                    @{var longText = item.Text;
                        var text = longText.Length > 150 ? longText.Substring(0, 150) + "..." : longText;}
                    @text
                </p>
                <div class="section-nav">
                    <ul class="section-tab-nav tab-nav">
                        <li>
                            <a asp-action="EditNews" asp-route-id="@item.Id">Edit</a>
                        </li>
                        <li>
                            <a asp-action="DeleteNews" asp-route-id="@item.Id">Delete</a>
                        </li>
                        <li>
                            <a asp-action="Message" asp-route-id="@item.Id" class="btn btn-light @(item.Status=="Done" ? "disabled" : "")">Send</a>
                        </li>

                    </ul>
                </div>
            </li>
        }
    </ul>
</div>
<br />
<div class="section-nav">
    <ul class="section-tab-nav tab-nav">
        <li><h4><a asp-action="Index">Back to Start</a></h4></li>
    </ul>
</div>

<div>@ViewBag.Exception</div>
