@model StefanShopWeb.ViewModels.AdminCategoryProductsViewModel

@*@{
    SetSortingOption();

    int SetSortingOption()
    {
        int selectedSortingOption;

        if (Model.SelectedSortingOption == 0)
            selectedSortingOption = 1;
        else
            selectedSortingOption = Model.SelectedSortingOption;

        return selectedSortingOption;
    }
}*@
    <div>
        <form id="pagingResultsOptionsForm" class="form-inline"
              asp-area=""
              asp-controller="Product"
              asp-route-categoryId=@Model.categoryId
              asp-action="ProductPagingResult"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-mode="replace"
              data-ajax-update="#PagingResult">
            @*<select asp-for=@Model.pagingViewModel.PageSize onchange='$("#pagingResultsOptionsForm").submit()' class="form-control" asp-items="@Model.pagingViewModel.PageSizeOptions"></select>*@
            <select asp-for="@Model.SelectedSortingOption" onchange='$("#pagingResultsOptionsForm").submit()' class="form-control" asp-items="@Model.SortingOptions"></select>
            @*<select asp-for="@Model.SelectedSortingOption" onchange='$("#pagingResultsOptionsForm").submit()' class="form-control" asp-items="@Model.TitleSortingOptions"></select>
            <select asp-for="@Model.SelectedSortingOption" onchange='$("#pagingResultsOptionsForm").submit()' class="form-control" asp-items="@Model.PriceSortingOptions"></select>*@
        </form>
        <div id="PagingResult">
            <partial name="PagerAndTablePartial" for="@Model" />
        </div>
    </div>