@model StefanShopWeb.ViewModels.AdminCategoryProductsViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



    <div class="text-center">
        <h1>@Model.cats.CategoryName</h1>
        @for (int i = 0; i < Model.prodList.Count(); i += 4)
        {
            <div class="row text-center">
                <div class="products-tabs">
                    <div class="container-fluid mt-4 text-center" style="position:relative;left:150px;">

                        @foreach (var item in Model.prodList.Skip(i).Take(4))
                        {
                            <div class="product col-sm-2 col-md-offset-1" style="margin-right: 2rem;">
                                <div class="product-img form-group">
                                    @if (Model.cats.CategoryName == "Beverages")
                                    {
                                        <img src="~/ProductImages/beverages4_83af.jpg" alt="">
                                    }
                                    else if (Model.cats.CategoryName == "Condiments")
                                    {
                                        <img src="~/ProductImages/condiments.jpg" alt="">
                                    }
                                    else if (Model.cats.CategoryName == "Confections")
                                    {
                                        <img src="~/ProductImages/confectionsfinal.jpg" alt="">
                                    }
                                    else if (Model.cats.CategoryName == "Grains/Cereals")
                                    {
                                        <img src="~/ProductImages/grainproducts.jpg" alt="">
                                    }
                                    else if (Model.cats.CategoryName == "Meat/Poultry")
                                    {
                                        <img src="~/ProductImages/meatproducts.png" alt="">
                                    }
                                    else if (Model.cats.CategoryName == "Produce")
                                    {
                                        <img src="~/ProductImages/produce.jpg" alt="">
                                    }
                                    else if (Model.cats.CategoryName == "Seafood")
                                    {
                                        <img src="~/ProductImages/seafoodproducts.jpg" alt="">
                                    }

                                    <div class="product-label">

                                    </div>
                                </div>
                                <div class="product-body">
                                    <p class="product-category">@Model.cats.CategoryName</p>


                                    <h3 class="product-name"><a href="#">@item.ProductName</a></h3>
                                    <h4 class="product-price">@String.Format("{0:C}", item.UnitPrice)</h4>

                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                    <div class="product-details">
                                        <p>Units in stock: @item.UnitsInStock</p>
                                        <p>Units on order: @item.UnitsOnOrder</p>
                                    </div>

                                    @await Component.InvokeAsync("Heart", new { userId = UserManager.GetUserId(User), productId = item.ProductId })

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <br />
        }
        <div>
            <a href="##" role="button" class="btn btn-default" onClick="history.go(-1); return false;"> Return to category overview</a>
        </div>
    </div>