
@model StefanShopWeb.ViewModels.NewProductViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>


<h2 class="font-italic font-weight-bold mb-4">Uppdatera Produkt:</h2>

<form asp-controller="Home" asp-action="UpdateProduct">

    <label class="font-weight-bold mb-2">Namn:</label>  <br />
    <input class="form-control" asp-for="@Model.Product.ProductName" value="@Model.Product.ProductName" />

    <label class="font-weight-bold mb-2">UnitPrice:</label>  <br />
    <input class="form-control" asp-for="@Model.Product.UnitPrice" value="@Model.Product.UnitPrice" />

    <label class="font-weight-bold mb-2">QuantityPerUnit:</label>  <br />
    <input class="form-control" asp-for="@Model.Product.QuantityPerUnit" value="@Model.Product.QuantityPerUnit" />


    <label class="font-weight-bold mb-2">UnitsInStock:</label>  <br />
    <input class="form-control" asp-for="@Model.Product.UnitsInStock" value="@Model.Product.UnitsInStock" />


    <label class="font-weight-bold mb-2">UnitsOnOrder:</label>  <br />
    <input class="form-control" asp-for="@Model.Product.UnitsOnOrder" value="@Model.Product.UnitsOnOrder" />


    <label class="font-weight-bold mb-2">ReorderLevel:</label>  <br />
    <input class="form-control" asp-for="@Model.Product.ReorderLevel" value="@Model.Product.ReorderLevel" />


    @*<label class="font-weight-bold mb-2">Discontinued:</label>  <br />
        <input class="form-control" asp-for="@Model.Product.Discontinued" value="@Model.Product.Discontinued" />*@

    <div class="form-group">
        <label class="font-weight-bold" asp-for="@Model.Product.Discontinued"><span class="input-required">*</span>Discontinued</label>   <br />

        @if (@Model.Product.Discontinued == true)
        {
            <label>Ja</label>
            <input type="radio" asp-for="@Model.Product.Discontinued" value="true" checked />

            <label>Nej</label>
            <input type="radio" asp-for="@Model.Product.Discontinued" value="false" />
        }
        else
        {
            <label>Ja</label>
            <input type="radio" asp-for="@Model.Product.Discontinued" value="true" />

            <label>Nej</label>
            <input type="radio" asp-for="@Model.Product.Discontinued" value="false" checked />
        }

        <span class="font-weight-bold" asp-validation-for="@Model.Product.Discontinued" style="color: red;"></span>
    </div>



    <select asp-for="@Model.Product.CategoryId">
        <option></option>

        @foreach (var category in Model.ListCategories)
        {
            if (Model.SelectedCategory.CategoryId.Equals(category.CategoryId))
            {
                <option selected="selected" value="@category.CategoryId">@category.CategoryName</option>
            }
            else
            {
                <option value="@category.CategoryId">@category.CategoryName</option>
            }
        }
    </select>
    <br />
    <br />



    <select asp-for="@Model.Product.SupplierId">

        <option></option>
        @foreach (var supplier in Model.ListSuppliers)
        {
            if (Model.SelectedSupplier.SupplierId.Equals(supplier.SupplierId))
            {
                <option selected="selected" value="@supplier.SupplierId">@supplier.CompanyName</option>
            }
            else
            {
                <option value="@supplier.SupplierId">@supplier.CompanyName</option>
            }
        }
    </select>
    <br />
    <br />


    <input hidden asp-for="@Model.Product.ProductId" />

    <input class="btn btn-secondary btn-sm" type="submit" value="Update" />
</form>